<div class="dashboard-container">
  <div class="dashboard-header">
    <p>Welcome, <%= current_user.name %>.</p>
  </div>
  <div class="dashboard-content">
    <div class="categories-list">
      <% @groups.each do |group| %>
        <div class="transaction-card">
          <%= image_tag(group.icon, alt: group.name, class: "category-icon") %>
          <div class="category-info">
            <p><%= group.name %></p>
          </div>
        </div>
      <% end %>
    </div>

    <h2>Your Recent Transactions</h2>
    <div class="transactions-list">
      <% @transactions.last(5).each do |transaction| %>
        <div class="transaction-card">
          <div class="transaction-info">
            <p><%= transaction.name %></p>
            <p><%= transaction.created_at.strftime("%d %b %Y") %></p>
          </div>
          <div class="transaction-amount">
            <%= number_to_currency(transaction.amount) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <%= link_to 'See all transactions', financial_transactions_path, class: "link-all-transactions" %>
</div>
