<div class="dashboard-container">
<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>
      <ul>
        <% group.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class='form-input-fields'>
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

 <div class='form-input-fields'>
  <%= form.label :icon %>
  <div class="icon-select">
  <% Group::ICONS.each do |icon| %>
    <div class="icon-option" data-value="<%= icon %>">
      <%= image_tag(icon, width: 30, height: 30) %>
    </div>
  <% end %>
  <%= form.hidden_field :icon, id: 'selected_icon' %>
</div>
  </div>
  <%= form.submit "Save", class: "button" %>
<% end %>
