<!-- Fondo azul aplicado al body a través de CSS -->

<div class="dashboard-container">
  <div class="dashboard-header">
    <h1>Categories</h1>
  </div>
  <div class="dashboard-container2">
    <% if @groups.present? %>
      <% @groups.each do |group| %>
        <div class='category-container'>
        <%= link_to group_path(group) do %>
          <%= image_tag(group.icon, alt: group.name, class: "group-icon") %>
          <div class="category-title">
            <h3><%= group.name %></h3>
          </div>
        <% end %>
        <div>
          <%= link_to 'Details', group_path(group), class: 'button detail-button' %>
          <%= link_to 'Edit', edit_group_path(group), class: 'button edit-button' %>
          <%= button_to 'Delete', group_path(group), method: :delete, data: { confirm: 'Are you sure?' }, class: 'button delete-button', form: { "data-turbo" => "false" } %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No groups available.</p>
  <% end %>
  <%= link_to 'Add a new category', new_group_path, class: 'button add-new-category-button' %>
  </div>
</div>
