<%= form_with model: @group, local: true, data: { turbo: false } do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :icon %>
  <div class="icon-select">
  <% Group::ICONS.each do |icon| %>
    <div class="icon-option" data-value="<%= icon %>">
      <%= image_tag(icon, width: 30, height: 30) %>
    </div>
  <% end %>
  <%= form.hidden_field :icon, id: 'selected_icon' %>
</div>

  <%= form.submit "Save" %>
<% end %>
