<% if @transaction.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
    <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @transaction.group.present? %>
  <div class='category'>
    <%= image_tag(@transaction.group.icon, alt: @transaction.group.name, width: 80, height: 80, class: "group-icon") %>
    <h2><%= @transaction.group.name %></h2>
  </div>
  <h2 class="title">Add a transaction</h2>
<% else %>
  <p>Group not selected or doesn't exist.</p>
<% end %>

<%= form_with(model: @transaction, local: true, data: { turbo: false }, class: 'form-data') do |form| %>
  <div class='form-input-fields'>
    <div class='input-fields'>
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class='input-fields'>
      <%= form.label :amount %>
      <%= form.number_field :amount %>
    </div>

    <%= form.hidden_field :group_id %>

  </div>
  <%= form.submit "Save Transaction" %>
<% end %>

<% if @transaction.group.present? %>
  <%= link_to 'Go back', group_path(@transaction.group) %>
<% else %>
  <%= link_to 'Go back', groups_path %>
<% end %>
