<% if @transaction.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>
    <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @transaction, local: true, data: { turbo: false }) do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :amount %>
  <%= form.number_field :amount %>

  <%= form.hidden_field :group_id %>

  <%= form.submit "Save Transaction" %>
<% end %>

<%= link_to 'Go back', group_path(@transaction.group) %>
